body {
    font-family: 'Montserrat', sans-serif;
    background: #060606;
}

body * {
    outline: none;
}

header {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #d4af37;
}

header h1 {
    font-family: 'Parisienne', cursive;
    font-style: italic;
    font-size: 2.7rem;
    font-weight: bold;
    color: #d4af37;
}
header .buttons-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
header button{
   margin-left: 10px;
}
#settings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
}

#settings ul{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    visibility: hidden;
}

#settings ul li{
    margin: 0 10px;
    color: #d4af37;
}
#settings .settings-icon{
    color: #d4af37;
}

#settings .settings-icon:hover{
    color: #aaa9ad;
    cursor: pointer;
}
#settings .settings-icon{
    margin-left: 20px;
}

main .story-ctn-temp {
    display: none;
}

main button > i.fas {
    background-color: white;
    color: #d4af37;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10px;
    font-size: 1rem;
}

main button {
    color: white;
    background-color: #d4af37;
    border-radius: 20px;
    font-size: 1rem;
    padding: 10px;
    border: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
}

main button.active {
    background-color: #aaa9ad;
    -webkit-animation-name: pulse;
            animation-name: pulse;
	-webkit-animation-duration: 1.5s;
	        animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
}

section {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

section img {
    padding: 5px;
    border-radius: 150px;
}

.start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#textarea {
    min-height: 100px;
    border: 1px solid #d4af37;
    margin-top: 10px;
    width: 100%;
    border-radius: 20px;
    color: #d4af37;
    padding: 10px;
    cursor: default;
    font-size: 20px;
}

span.temp {
    background-color: lightgrey;
}

@media screen and (max-width: 768px) {
    header  {
        display: block;
    }
    header h1 {
        font-family: 'Parisienne', cursive;
        font-style: italic;
        font-size: 2rem;
        font-weight: bold;
        color: #d4af37;
        text-align: center;
    }
    header .buttons-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    header button {
        margin-left: 0;
        margin-top: 10px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
    .reset-text {
        display: none;
    }
    #settings ul{
        display: none;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}
@-webkit-keyframes pulse{
	0%{
		-webkit-box-shadow: 0px 0px 5px 0px rgba(212,175,55,.3);
		        box-shadow: 0px 0px 5px 0px rgba(212,175,55,.3);
	}
	65%{
		-webkit-box-shadow: 0px 0px 5px 13px rgba(212,175,55,.3);
		        box-shadow: 0px 0px 5px 13px rgba(212,175,55,.3);
	}
	90%{
		-webkit-box-shadow: 0px 0px 5px 13px rgba(212,175,55,0);
		        box-shadow: 0px 0px 5px 13px rgba(212,175,55,0);
	}
}
@keyframes pulse{
	0%{
		-webkit-box-shadow: 0px 0px 5px 0px rgba(212,175,55,.3);
		        box-shadow: 0px 0px 5px 0px rgba(212,175,55,.3);
	}
	65%{
		-webkit-box-shadow: 0px 0px 5px 13px rgba(212,175,55,.3);
		        box-shadow: 0px 0px 5px 13px rgba(212,175,55,.3);
	}
	90%{
		-webkit-box-shadow: 0px 0px 5px 13px rgba(212,175,55,0);
		        box-shadow: 0px 0px 5px 13px rgba(212,175,55,0);
	}
}