body {
    font-family: 'Montserrat', sans-serif;
    background: #060606;
}

body * {
    outline: none;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d4af37;
}

header h1 {
    font-family: 'Parisienne', cursive;
    font-style: italic;
    font-size: 2.7rem;
    font-weight: bold;
    color: #d4af37;
}
header .buttons-container {
    display: flex;
}
header button{
   margin-left: 10px;
}
#settings {
    display: flex;
    justify-content: right;
}

#settings ul{
    display: inline-flex;
    visibility: hidden;
}

#settings ul li{
    margin: 0 10px;
    color: #d4af37;
}
#settings .settings-icon{
    color: #d4af37;
}

#settings .settings-icon:hover{
    color: #aaa9ad;
    cursor: pointer;
}
#settings .settings-icon{
    margin-left: 20px;
}

main button > i.fas {
    background-color: white;
    color: #d4af37;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 1rem;
}


main button {
    color: white;
    background-color: #d4af37;
    border-radius: 20px;
    font-size: 1rem;
    padding: 10px;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

main button.active {
    background-color: #aaa9ad;
    animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

section {
    padding: 10px;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
}

#textarea {
    min-height: 50px;
    /*border: 1px solid #d4af37;*/
    margin-top: 10px;
    color: #d4af37;
    padding: 10px 30px;
    position: absolute;
    bottom: 10px;
    font-size: 1.5em;
}

span.temp {
    background-color: lightgrey;
}


@media screen and (max-width: 768px) {
    header  {
        display: block;
    }
    header h1 {
        font-family: 'Parisienne', cursive;
        font-style: italic;
        font-size: 2rem;
        font-weight: bold;
        color: #d4af37;
        text-align: center;
    }
    header .buttons-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    header button {
        margin-left: 0;
        margin-top: 10px;
        display: inline-flex;
    }
    .reset-text {
        display: none;
    }
    #settings ul{
        display: none;
        flex-wrap: wrap;
    }
}
@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(212,175,55,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(212,175,55,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(212,175,55,0);
	}
}

  
  html,
  body {
    height: 100%;
    /* for touch screen */
    touch-action: none; 
  }
  
  body {
    /*overflow: hidden;*/
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    /*display: flex;*/
    background: #111;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  #drag-container, #spin-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
    height: 70vh;
  }
  
  #drag-container img, #drag-container video {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 200px;
    font-size: 50px;
    text-align: center;
    -webkit-box-shadow: 0 0 8px #fff;
            box-shadow: 0 0 8px #fff;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
  }
  
  #drag-container img:hover, #drag-container video:hover {
    -webkit-box-shadow: 0 0 15px #fffd;
            box-shadow: 0 0 15px #fffd;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
  }
  
  #drag-container p {
    font-family: Serif;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotateX(90deg);
            transform: translate(-50%,-50%) rotateX(90deg);
    color: #fff;
  }
  
  #ground {
    width: 900px;
    height: 900px;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotateX(90deg);
            transform: translate(-50%,-50%) rotateX(90deg);
    background: -webkit-radial-gradient(center center, farthest-side , #9993, transparent);
  }
  #caption {
    color: #d4af37 !important;
    text-align: center;
    font-family: 'Parisienne', cursive !important;
    font-size: 2em;
  }
  #music-container {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  @-webkit-keyframes spin {
    from{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    } to{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  
  @keyframes spin {
    from{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    } to{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  @-webkit-keyframes spinRevert {
    from{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    } to{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }
  @keyframes spinRevert {
    from{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    } to{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }