body {
    font-family: 'Montserrat', sans-serif;
}

body * {
    outline: none;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    border-radius: 10px;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 2rem;
    font-weight: bold;
}

main button > i.fas {
    background-color: white;
    color: darkslategray;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 1rem;
}


main button {
    color: white;
    background-color: darkslategray;
    border-radius: 20px;
    font-size: 1rem;
    padding: 10px;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

main button.active {
    background-color: red;
}

section {
    padding: 10px;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
}

#textarea {
    width: 100%;
    min-height: 100px;
    border: 1px solid black;
    margin-top: 10px;
}

span.temp {
    background-color: lightgrey;
}